
@font-face{
	font-family:ElegantIconseot;
	src: url(../fonts/ElegantIcons.eot);
}
@font-face{
	font-family:ElegantIconswoff;
	src: url(../fonts/ElegantIcons.woff);
}
@font-face{
	font-family:ElegantIconsttf;
	src: url(../fonts/ElegantIcons.ttf);
}
@font-face{
	font-family:fontawesome-webfonteot;
	src: url(../fonts/fontawesome-webfont.eot);
}
@font-face{
	font-family:fontawesome-webfontwoff;
	src: url(../fonts/fontawesome-webfont.woff);
}
@font-face{
	font-family:fontawesome-webfontttf;
	src: url(../fonts/fontawesome-webfont.ttf);
}
@font-face{
	font-family:ionicons;
	src: url(../fonts/ionicons.eot);
}
@font-face{
	font-family:ioniconswoff;
	src: url(../fonts/ionicons.woff);
}
@font-face{
	font-family:ioniconsttf;
	src: url(../fonts/ionicons.ttf);
}